{% extends "film/baseFilm.html.twig" %}

{% block content %}
    <h2 style="color: #333333;">PÁGINA DE INICIO</h2>

    <p>Bienvenido a Movie DB, la base de datos de películas.</p>
    <p>Explora nuestras películas y descubre nuevas historias para disfrutar.</p>
{% endblock %}
